html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: 100%;
}

#container {
	height: 90px;
	width: 220px;
	background-color: white;
	position: absolute;
	margin: 20px 20px 20px 20px;
	padding: 15px 15px 15px 15px;
	z-index: 10000;
}

#slider { 
	left: 0px;
	width: 220px;
	margin-bottom: 20px;
}

#button {
	width: 40px;
	margin-right: auto;
	margin-left: auto;
}

#logo {
	width: 220px;
	position: absolute;
	margin: 20px 20px 20px 20px;
	z-index: 10000;
}



