!!! 5
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/static/css/style.css')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=#{api_key}&sensor=false')
    script(type='text/javascript', src="/static/js/circle.js")
    script(type='text/javascript', src="/static/js/app.js")
      
  body
    #map-canvas